body {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

img {
  border-width: 0;
}

table {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  border: 1px solid #969696;
  font-size: 14px;
}

thead {
  background-color: #660077;
  color: #ffffff;
}

td {
  border: 0px solid #969696;
  padding: 0 5px;
  height: 25px;
}

form {
  margin: 0;
  padding: 0;
  height: 25px;
}

#newsubject {
  margin: 0;
  padding: 0;
  height: 20px;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 5px;
  line-height: 20px;
  width: 100%;
  background-color: #828C96;
  color: #ffffff;
}

::-webkit-input-placeholder {
  color: #ffffff;
}
:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #ffffff;
}

#addsubjectbutton {
  background-image: url(img/add.png);
  width: 25px;
  height: 25px;
  border: 0px;
  outline: 0;
  margin: 0;
  padding: 0;
  background-color: #828C96;
}

#removesubjectbutton {
  background-image: url(img/remove.png);
  width: 25px;
  height: 25px;
  border: 0px;
  outline: 0;
  margin: 0;
  padding: 0;
  background-color: #828C96;
}

#addsubject {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #828C96;
}

#removesubject {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #828C96;
  border-left: 0px;
}

td.tantargy {
  background-color: #828C96;
  color: #ffffff;
  text-align: left;
  padding-left: 5px;
  border-right: 0px;
}

#ujtantargy {
  padding: 0;
}

td.jegyek {
  background-color: #eeeeee;
}

#ujjegy {
  width: 25px;
  height: 25px;
  padding: 0;
}

#ujjegybutton {
  background-image: url(img/add.png);
  width: 25px;
  height: 25px;
  border: 0px;
  outline: 0;
  margin: 0;
  padding: 0;
}

td.atlag {
  background-color: #646482;
  color: #ffffff;
}

td.bizonyitvany {
  color: #ffffff;
  background-color: #446655;
}

span {
  margin: 0 2px;
}

span.kis {
  color: #0000ff;
}

span.normal {
  color: #000000;
}

span.dolgozat {
  color: green;
}

span.temazaro {
  color: #ff0000;
}

span.vizsga {
  color: #800080;
}

blockquote {
  margin: auto;
  width: auto;
  background-color: #ededed;
  font-style: italic;
}

fieldset {
  margin: auto;
  width: auto;
}
