body {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

table {
  margin: auto;
  margin-top: 50px;
  background-color: #dcdcdc;
  border: 1px solid #969696;
}

thead {
  background-color: #660077;
  color: #ffffff;
}

td {
  border: 1px solid #969696;
}

#tantargy {
  background-color: #828C96;
  color: #ffffff;
}

#jegyek {
  background-color: #eeeeee;
}

#atlag {
  background-color: #646482;
  color: #ffffff;
}

span.kis {
  color: #0000ff;
}

span.normal {
  color: #000000;
}

span.dolgozat {
  color: #00ff00;
}

span.temazaro {
  color: #ff0000;
}

span.vizsga {
  color: #800080;
}
